{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center">
        <h1>Bienvenue sur CarVilla</h1>
        <p>Explorez notre sélection de véhicules exceptionnels.</p>
    </div>
{% endblock %}
